## Initiate Session and Imports

In [ ]:
spark

In [ ]:
# set max columns, rows, column width in pandas so doesn't truncate
import pandas as pd
pd.set_option('display.max_colwidth',250) # or -1
pd.set_option('display.max_columns', None) # or 500
pd.set_option('display.max_rows', None) # or 500

# sets the cell width to 100% respective to the screen size
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:92% !important; }</style>"))

from pyspark.sql.functions import when, col

In [ ]:
spark.sql("use real_world_data_jun_2023")

## Create Dictionaries for defined codes

### Race & Ethnicity Codes

In [ ]:
#American INdian and Alaskan Native (from CDC so far)
AIAN=['1000-9', '1002-5', '1004-1', '1006-6', '1008-2', '1010-8', '1011-6', 
      '1012-4', '1013-2', '1014-0', '1015-7', '1016-5', '1017-3', '1018-1', 
      '1019-9', '1021-5', '1022-3', '1023-1', '1024-9', '1026-4', '1028-0', 
      '1030-6', '1031-4', '1033-0', '1035-5', '1037-1', '1039-7', '1041-3', 
      '1042-1', '1044-7', '1045-4', '1046-2', '1047-0', '1048-8', '1049-6', 
      '1050-4', '1051-2', '1053-8', '1054-6', '1055-3', '1056-1', '1057-9', 
      '1058-7', '1059-5', '1060-3', '1061-1', '1062-9', '1063-7', '1064-5', 
      '1065-2', '1066-0', '1068-6', '1069-4', '1070-2', '1071-0', '1072-8', 
      '1073-6', '1074-4', '1076-9', '1078-5', '1080-1', '1082-7', '1083-5', 
      '1084-3', '1086-8', '1088-4', '1089-2', '1090-0', '1091-8', '1092-6', 
      '1093-4', '1094-2', '1095-9', '1096-7', '1097-5', '1098-3', '1100-7', 
      '1102-3', '1103-1', '1104-9', '1106-4', '1108-0', '1109-8', '1110-6', 
      '1112-2', '1114-8', '1115-5', '1116-3', '1117-1', '1118-9', '1119-7', 
      '1120-5', '1121-3', '1123-9', '1124-7', '1125-4', '1126-2', '1127-0', 
      '1128-8', '1129-6', '1130-4', '1131-2', '1132-0', '1133-8', '1134-6', 
      '1135-3', '1136-1', '1137-9', '1138-7', '1139-5', '1140-3', '1141-1', 
      '1142-9', '1143-7', '1144-5', '1145-2', '1146-0', '1147-8', '1148-6', 
      '1150-2', '1151-0', '1153-6', '1155-1', '1156-9', '1157-7', '1158-5', 
      '1159-3', '1160-1', '1162-7', '1163-5', '1165-0', '1167-6', '1169-2', 
      '1171-8', '1173-4', '1175-9', '1176-7', '1178-3', '1180-9', '1182-5', 
      '1184-1', '1186-6', '1187-4', '1189-0', '1191-6', '1193-2', '1194-0', 
      '1195-7', '1196-5', '1197-3', '1198-1', '1199-9', '1200-5', '1201-3', 
      '1202-1', '1203-9', '1204-7', '1205-4', '1207-0', '1209-6', '1211-2', 
      '1212-0', '1214-6', '1215-3', '1216-1', '1217-9', '1218-7', '1219-5', 
      '1220-3', '1222-9', '1223-7', '1224-5', '1225-2', '1226-0', '1227-8', 
      '1228-6', '1229-4', '1230-2', '1231-0', '1233-6', '1234-4', '1235-1', 
      '1236-9', '1237-7', '1238-5', '1239-3', '1240-1', '1241-9', '1242-7', 
      '1243-5', '1244-3', '1245-0', '1246-8', '1247-6', '1248-4', '1250-0', 
      '1252-6', '1254-2', '1256-7', '1258-3', '1260-9', '1262-5', '1264-1', 
      '1265-8', '1267-4', '1269-0', '1271-6', '1272-4', '1273-2', '1275-7', 
      '1277-3', '1279-9', '1281-5', '1282-3', '1283-1', '1285-6', '1286-4', 
      '1287-2', '1288-0', '1289-8', '1290-6', '1291-4', '1292-2', '1293-0', 
      '1294-8', '1295-5', '1297-1', '1299-7', '1301-1', '1303-7', '1305-2', 
      '1306-0', '1307-8', '1309-4', '1310-2', '1312-8', '1313-6', '1314-4', 
      '1315-1', '1317-7', '1319-3', '1321-9', '1323-5', '1325-0', '1326-8', 
      '1327-6', '1328-4', '1329-2', '1331-8', '1332-6', '1333-4', '1334-2', 
      '1335-9', '1336-7', '413490006']

In [ ]:
Asian=['2028-9', '2029-7', '2030-5', '2031-3', '2032-1', '2033-9', '2034-7', 
       '2035-4', '2036-2', '2037-0', '2038-8', '2039-6', '2040-4', '2041-2', 
       '2042-0', '2043-8', '2044-6', '2045-3', '2046-1', '2047-9', '2048-7', 
       '2049-5', '2050-3', '2051-1', '2052-9', '414481008']

In [ ]:
Black=['2054-5', '2056-0', '2058-6', 
       '2060-2', '2061-0', '2062-8', '2063-6', '2064-4', '2065-1', '2066-9', 
       '2067-7', '2068-5', '2069-3', '2070-1', '2071-9', '2072-7', '2073-5', 
       '2074-3', '2075-0', '413464008', '413655005']

In [ ]:
#Native Hawaiian or Other Pacific Islander
NHPI=['2076-8', '2078-4', '2079-2', '2080-0', '2081-8', '2082-6', '2083-4', 
      '2085-9', '2086-7', '2087-5', '2088-3', '2089-1', '2090-9', '2091-7', 
      '2092-5', '2093-3', '2094-1', '2095-8', '2096-6', '2097-4', '2098-2', 
      '2100-6', '2101-4', '2102-2', '2103-0', '2104-8', '413581001', '413600007'
      '2500-7',]

In [ ]:
#White minus MENA
White=['2106-3', '2108-9', '2109-7', '2110-5', '2111-3', '2112-1', '2113-9',
       '2114-7', '2115-4', '2116-2', '413773004']

In [ ]:
MENA=['2118-8', '2119-6', '2120-4', '2121-2', '2122-0', '2123-8', '2124-6', 
      '2125-3', '2126-1', '2127-9', '2129-5']

In [ ]:
Hisp_Latino=['2135-2', '2137-8', '2138-6', '2139-4', '2140-2', '2141-0', '2142-8', 
             '2143-6', '2144-4', '2145-1', '2146-9', '2148-5', '2149-3', '2150-1', 
             '2151-9', '2152-7', '2153-5', '2155-0', '2156-8', '2157-6', '2158-4', 
             '2159-2', '2160-0', '2161-8', '2162-6', '2163-4', '2165-9', '2166-7', 
             '2167-5', '2168-3', '2169-1', '2170-9', '2171-7', '2172-5', '2173-3', 
             '2174-1', '2175-8', '2176-6', '2178-2', '2180-8', '2182-4', '2184-0']

In [ ]:
#Other race & Other ethnic
Other=['2131-1', '74964007']

In [ ]:
NotHL=['2186-5']

In [ ]:
#Asian or Pacific Islander ethnicity
API_ethn=['413581001']

In [ ]:
#Unknown or not recorded, declined
Unknown=['10241000175103', '312861003', '414808009', '415226007', 
               '415794004', '48861000175105', '312862005', 'NONE', 'None', 'PATIENT_DECLINED']

In [ ]:
Mixed=['414752008']

## Geo Codes

In [ ]:
Metropol=['metropolitan']

In [ ]:
Non_Metro=['non-metropolitan']

In [ ]:
Urbn=['urban']

In [ ]:
Rural=['rural']

In [ ]:
Unknown_geo=['none', 'None', 'NULL']

## Create race table from Demographics for CUA population

In [ ]:
spark.sql("use CUA_db")

In [ ]:
## Skeleton To build from

CUA= spark.sql("""
    SELECT *
    FROM personid_table
""")
CUA

In [ ]:
#CUA person ID list
personid_list = list(CUA.select('personid').distinct().toPandas()['personid'])
len(personid_list)

In [ ]:
spark.sql("use real_world_data_jun_2023")

In [ ]:
Race_code= spark.sql("""
    SELECT 
    personid, 
    races.standard.id[0] as race_id, 
    ethnicities.standard.id[0] as ethn_id,
    testpatientflag
    FROM demographics
""")
Race_code

In [ ]:
race_table=Race_code.filter(col("personid").isin(personid_list))

In [ ]:
race_table.select('personid').distinct().count()

In [ ]:
true_patients=race_table.where(col('testpatientflag')=="False")

In [ ]:
true_patients.select('personid').distinct().count()

In [ ]:
Geo_pull= spark.sql("""
    SELECT 
    personid, 
    prefmetropolitan as Metro,
    prefurban as Urban
    FROM preferred_demographics
""")
Geo_pull

In [ ]:
Geo_table=Geo_pull.filter(col("personid").isin(personid_list))

In [ ]:
Geo_table.select('personid').distinct().count()

In [ ]:
Geo_Race_CUA= true_patients.join(Geo_table, 'personid', 'left')
Geo_Race_CUA.limit(5).toPandas()

In [ ]:
Geo_Race_CUA.select('personid').distinct().count()

In [ ]:
geo_race_table=Geo_Race_CUA.drop('testpatientflag')

In [ ]:
geo_race_table.write.saveAsTable('CUA_db.geo_race')

## Table pulls

In [ ]:
spark.sql("use CUA_db")

In [ ]:
Race_pull= spark.sql("""
    SELECT 
    personid, 
    race_id
    FROM race_table
""")
Race_pull

In [ ]:
Eth_pull= spark.sql("""
    SELECT 
    personid, 
    ethn_id
    FROM race_table
""")
Eth_pull

In [ ]:
Urban_pull= spark.sql("""
    SELECT 
    personid, Urban
    FROM geo_race
""")
Urban_pull

In [ ]:
Metro_pull= spark.sql("""
    SELECT 
    personid, Metro
    FROM geo_race
""")
Metro_pull

## Geo_Pulls

### Rural

In [ ]:
Rural_geo = Urban_pull.withColumn(
    "rural",
    when(col("Urban").isin(Rural), 1).otherwise(0))

condition_column = 'rural'

# Count the number of patients with the condition (where the column value is 1)

filtered_rural = Rural_geo.filter(col(condition_column) == 1)

count_with_condition = filtered_rural.count()

# Show the count
print("Number of rows with the condition:", count_with_condition)

Rural_geo1=Rural_geo.drop('Urban')

Rural_geo1.limit(5).toPandas()

In [ ]:
filter_rural = Rural_geo1.filter(col("rural") == 1)

filter_rural

distinct_rural=filter_rural.dropDuplicates(['personid'])

distinct_rural.count()

### Urban

In [ ]:
urban_geo = Urban_pull.withColumn(
    "urbn",
    when(col("Urban").isin(Urbn), 1).otherwise(0))

condition_column = 'urbn'

# Count the number of patients with the condition (where the column value is 1)

filtered_urban = urban_geo.filter(col(condition_column) == 1)

count_with_condition = filtered_urban.count()

# Show the count
print("Number of rows with the condition:", count_with_condition)

urban_geo1=urban_geo.drop('Urban')

In [ ]:
filter_urban = urban_geo1.filter(col("urbn") == 1)

filter_urban

distinct_urban=filter_urban.dropDuplicates(['personid'])

distinct_urban.count()

### No info rural or urban

In [ ]:
filtered_null2 = Urban_pull.withColumn("no_urban", when(col("Urban").isNull() | (col("Urban") == "None"), 1).otherwise(0))

In [ ]:
filter_ungeo = filtered_null2.filter(col("no_urban") == 1)

filter_ungeo

distinct_ungeo=filter_ungeo.dropDuplicates(['personid'])

distinct_ungeo.count()

In [ ]:
clean_ungeo=distinct_ungeo.drop('Urban')

### Metropolitan

In [ ]:
Metro_geo = Metro_pull.withColumn(
    "Metropol",
    when(col("Metro").isin(Metropol), 1).otherwise(0))

condition_column = 'Metropol'

# Count the number of patients with the condition (where the column value is 1)

filtered_metro_geo = Metro_geo.filter(col(condition_column) == 1)

count_with_condition = filtered_metro_geo.count()

# Show the count
print("Number of rows with the condition:", count_with_condition)

Metro_geo1=Metro_geo.drop('Metro')

In [ ]:
filter_Metro = Metro_geo1.filter(col("Metropol") == 1)

filter_Metro

distinct_Metro=filter_Metro.dropDuplicates(['personid'])

distinct_Metro.count()

### Non-metropolitan

In [ ]:
Non_metro_geo = Metro_pull.withColumn(
    "Non_metro",
    when(col("Metro").isin(Non_Metro), 1).otherwise(0))

condition_column = 'Non_metro'

# Count the number of patients with the condition (where the column value is 1)

filtered_Non_metro_geo = Non_metro_geo.filter(col(condition_column) == 1)

count_with_condition = filtered_Non_metro_geo.count()

# Show the count
print("Number of rows with the condition:", count_with_condition)

Non_Metro_geo1=Non_metro_geo.drop('Metro')

In [ ]:
filter_Non_metro = Non_Metro_geo1.filter(col("Non_metro") == 1)

filter_Non_metro

distinct_Non_metro=filter_Non_metro.dropDuplicates(['personid'])

distinct_Non_metro.count()

### No metropolitan information

In [ ]:
filtered_unmetro = Metro_pull.withColumn("no_metro", when(col("Metro").isNull() | (col("Metro") == "None"), 1).otherwise(0))

In [ ]:
filter_unmetro2 = filtered_unmetro.filter(col("no_metro") == 1)

filter_unmetro2

distinct_unmetro2=filter_unmetro2.dropDuplicates(['personid'])

distinct_unmetro2.count()

In [ ]:
clean_unmetro=distinct_unmetro2.drop('metro')

In [ ]:
clean_unmetro.limit(5).toPandas()

### American Indian Alaskan Native

In [ ]:
AIAN_race = Race_pull.withColumn(
    "AIAN",
    when(col("race_id").isin(AIAN), 1).otherwise(0))

condition_column = 'AIAN'

# Count the number of patients with the condition (where the column value is 1)

filtered_AIAN = AIAN_race.filter(col(condition_column) == 1)

count_with_condition = filtered_AIAN.count()

# Show the count
print("Number of rows with the condition:", count_with_condition)

In [ ]:
AIAN_ethn = Eth_pull.withColumn(
    "AIAN",
    when(col("ethn_id").isin(AIAN), 1).otherwise(0))

condition_column = 'AIAN'

# Count the number of patients with the condition (where the column value is 1)

filtered_AIAN1 = AIAN_ethn.filter(col(condition_column) == 1)

count_with_condition = filtered_AIAN1.count()

# Show the count
print("Number of rows with the condition:", count_with_condition)
##NOTE- Yielded 0 results, did not combine

In [ ]:
#AIAN_ethn1=AIAN_ethn.drop('ethn_id', 'ethn_display')
AIAN_race1=AIAN_race.drop('race_id')

In [ ]:
filter_AINA = AIAN_race1.filter(col("AIAN") == 1)

filter_AINA

distinct_AINA=filter_AINA.dropDuplicates(['personid'])

distinct_AINA.count()

### Native Hawaiian Pacific Islander

In [ ]:
NHPI_race = Race_pull.withColumn(
    "NHPI",
    when(col("race_id").isin(NHPI), 1).otherwise(0))

condition_column = 'NHPI'

# Count the number of patients with the condition (where the column value is 1)

filtered_NHPI = NHPI_race.filter(col(condition_column) == 1)

count_with_condition = filtered_NHPI.count()

# Show the count
print("Number of rows with the condition:", count_with_condition)

In [ ]:
NHPI_ethn = Eth_pull.withColumn(
    "NHPI",
    when(col("ethn_id").isin(NHPI), 1).otherwise(0))

condition_column = 'NHPI'

# Count the number of patients with the condition (where the column value is 1)

filtered_NHPI1 = NHPI_ethn.filter(col(condition_column) == 1)

count_with_condition = filtered_NHPI1.count()

# Show the count
print("Number of rows with the condition:", count_with_condition)

##NOTE- Yielded 0 results, did not combine

In [ ]:
NHPI_race1=NHPI_race.drop('race_id')
NHPI_race1.limit(5).toPandas()

In [ ]:
filter_NHPI = NHPI_race1.filter(col("NHPI") == 1)

filter_NHPI

distinct_NHPI=filter_NHPI.dropDuplicates(['personid'])

distinct_NHPI.count()

### Asian

In [ ]:
Asian_race = Race_pull.withColumn(
    "Asian",
    when(col("race_id").isin(Asian), 1).otherwise(0))

condition_column = 'Asian'

# Count the number of patients with the condition (where the column value is 1)

filtered_Asian = Asian_race.filter(col(condition_column) == 1)

count_with_condition = filtered_Asian.count()

# Show the count
print("Number of rows with the condition:", count_with_condition)

In [ ]:
Asian_ethn = Eth_pull.withColumn(
    "Asian",
    when(col("ethn_id").isin(Asian), 1).otherwise(0))

condition_column = 'Asian'

# Count the number of patients with the condition (where the column value is 1)

filtered_Asian2 = Asian_ethn.filter(col(condition_column) == 1)

count_with_condition = filtered_Asian2.count()

# Show the count
print("Number of rows with the condition:", count_with_condition)

##Note- yielded 0 results

In [ ]:
Asian_race1=Asian_race.drop('race_id')

In [ ]:
filter_Asian = Asian_race1.filter(col("Asian") == 1)

filter_Asian

distinct_Asian=filter_Asian.dropDuplicates(['personid'])

distinct_Asian.count()

### Black

In [ ]:
Black_race = Race_pull.withColumn(
    "Black",
    when(col("race_id").isin(Black), 1).otherwise(0))

condition_column = 'Black'

# Count the number of patients with the condition (where the column value is 1)

filtered_Black = Black_race.filter(col(condition_column) == 1)

count_with_condition = filtered_Black.count()

# Show the count
print("Number of rows with the condition:", count_with_condition)

In [ ]:
Black_ethn = Eth_pull.withColumn(
    "Black",
    when(col("ethn_id").isin(Black), 1).otherwise(0))

condition_column = 'Black'

# Count the number of patients with the condition (where the column value is 1)

filtered_Black2 = Black_ethn.filter(col(condition_column) == 1)

count_with_condition = filtered_Black2.count()

# Show the count
print("Number of rows with the condition:", count_with_condition)

##Note yielded 0 results

In [ ]:
Black_race1=Black_race.drop('race_id')
Black_race1.limit(5).toPandas()

In [ ]:
filter_Black = Black_race1.filter(col("Black") == 1)

filter_Black

distinct_Black=filter_Black.dropDuplicates(['personid'])

distinct_Black.count()

### White

In [ ]:
White_race = Race_pull.withColumn(
    "White",
    when(col("race_id").isin(White), 1).otherwise(0))

condition_column = 'White'

# Count the number of patients with the condition (where the column value is 1)

filtered_White = White_race.filter(col(condition_column) == 1)

count_with_condition = filtered_White.count()

# Show the count
print("Number of rows with the condition:", count_with_condition)

In [ ]:
White_ethn = Eth_pull.withColumn(
    "White",
    when(col("ethn_id").isin(White), 1).otherwise(0))

condition_column = 'White'

# Count the number of patients with the condition (where the column value is 1)

filtered_White2 = White_ethn.filter(col(condition_column) == 1)

count_with_condition = filtered_White2.count()

# Show the count
print("Number of rows with the condition:", count_with_condition)

##Note- yielded 0 results

In [ ]:
White_race1=White_race.drop('race_id')
White_race1.limit(5).toPandas()

In [ ]:
filter_White = White_race1.filter(col("White") == 1)

filter_White

distinct_White=filter_White.dropDuplicates(['personid'])

distinct_White.count()

### Middle Eastern North African

In [ ]:
MENA_race = Race_pull.withColumn(
    "MENA",
    when(col("race_id").isin(MENA), 1).otherwise(0))

condition_column = 'MENA'

# Count the number of patients with the condition (where the column value is 1)

filtered_MENA = MENA_race.filter(col(condition_column) == 1)

count_with_condition = filtered_MENA.count()

# Show the count
print("Number of rows with the condition:", count_with_condition)

In [ ]:
MENA_ethn = Eth_pull.withColumn(
    "MENA",
    when(col("ethn_id").isin(White), 1).otherwise(0))

condition_column = 'MENA'

# Count the number of patients with the condition (where the column value is 1)

filtered_MENA2 = MENA_ethn.filter(col(condition_column) == 1)

count_with_condition = filtered_MENA2.count()

# Show the count
print("Number of rows with the condition:", count_with_condition)

##Note- yielded 0 results

In [ ]:
MENA_race1=MENA_race.drop('race_id')
MENA_race1.limit(5).toPandas()

In [ ]:
filter_MENA = MENA_race1.filter(col("MENA") == 1)

filter_MENA

distinct_MENA=filter_MENA.dropDuplicates(['personid'])

distinct_MENA.count()

### Hispanic/ Latino

In [ ]:
Hisp_Latino_race = Race_pull.withColumn(
    "Hisp_Latino",
    when(col("race_id").isin(Hisp_Latino), 1).otherwise(0))

condition_column = 'Hisp_Latino'

# Count the number of patients with the condition (where the column value is 1)

filtered_Hisp_Latino = Hisp_Latino_race.filter(col(condition_column) == 1)

count_with_condition = filtered_Hisp_Latino.count()

# Show the count
print("Number of rows with the condition:", count_with_condition)

In [ ]:
Hisp_Latino_ethn = Eth_pull.withColumn(
    "Hisp_Latino",
    when(col("ethn_id").isin(Hisp_Latino), 1).otherwise(0))

condition_column = 'Hisp_Latino'

# Count the number of patients with the condition (where the column value is 1)

filtered_Hisp_Latino2 = Hisp_Latino_ethn.filter(col(condition_column) == 1)

count_with_condition = filtered_Hisp_Latino2.count()

# Show the count
print("Number of rows with the condition:", count_with_condition)

In [ ]:
Hisp_Latino_race.limit(5).toPandas()
Hisp_Latino_race.count()

In [ ]:
Hisp_Latino_ethn.limit(5).toPandas()
Hisp_Latino_ethn.count()

In [ ]:
Hisp_Latino_ethn1=Hisp_Latino_ethn.drop('ethn_id')
Hisp_Latino_race1=Hisp_Latino_race.drop('race_id')

In [ ]:
combined_Hisp_Latino=Hisp_Latino_race1.union(Hisp_Latino_ethn1)

In [ ]:
Hisp_Latino_distinct=combined_Hisp_Latino.dropDuplicates()

In [ ]:
Hisp_Latino_distinct.count()

In [ ]:
filter_Hisp_Latino = combined_Hisp_Latino.filter(col("Hisp_Latino") == 1)

filter_Hisp_Latino

distinct_Hisp_Latino=filter_Hisp_Latino.dropDuplicates(['personid'])

distinct_Hisp_Latino.count()

### Other Race classification

In [ ]:
Other_race = Race_pull.withColumn(
    "Other",
    when(col("race_id").isin(Other), 1).otherwise(0))

condition_column = 'Other'

# Count the number of patients with the condition (where the column value is 1)

filtered_Other = Other_race.filter(col(condition_column) == 1)

count_with_condition = filtered_Other.count()

# Show the count
print("Number of rows with the condition:", count_with_condition)

In [ ]:
Other_ethn = Eth_pull.withColumn(
    "Other",
    when(col("ethn_id").isin(Other), 1).otherwise(0))

condition_column = 'Other'

# Count the number of patients with the condition (where the column value is 1)

filtered_Other2 = Other_ethn.filter(col(condition_column) == 1)

count_with_condition = filtered_Other2.count()

# Show the count
print("Number of rows with the condition:", count_with_condition)

In [ ]:
Other_race.limit(5).toPandas()
Other_race.count()

In [ ]:
Other_ethn.limit(5).toPandas()
Other_ethn.count()

In [ ]:
Other_ethn1=Other_ethn.drop('ethn_id')
Other_race1=Other_race.drop('race_id')

In [ ]:
combined_Other=Other_race1.union(Other_ethn1)
Other_distinct=combined_Other.dropDuplicates()
Other_distinct.count()

In [ ]:
filter_Other = combined_Other.filter(col("Other") == 1)

filter_Other

distinct_Other=filter_Other.dropDuplicates(['personid'])

distinct_Other.count()

### Not Hispanic/ Latino Ethnicity

In [ ]:
NotHL_race = Race_pull.withColumn(
    "NotHL",
    when(col("race_id").isin(NotHL), 1).otherwise(0))

condition_column = 'NotHL'

# Count the number of patients with the condition (where the column value is 1)

filtered_NotHL = NotHL_race.filter(col(condition_column) == 1)

count_with_condition = filtered_NotHL.count()

# Show the count
print("Number of rows with the condition:", count_with_condition)

## Yielded 0 results

In [ ]:
NotHL_ethn = Eth_pull.withColumn(
    "NotHL",
    when(col("ethn_id").isin(NotHL), 1).otherwise(0))

condition_column = 'NotHL'

# Count the number of patients with the condition (where the column value is 1)

filtered_NotHL2 = NotHL_ethn.filter(col(condition_column) == 1)

count_with_condition = filtered_NotHL2.count()

# Show the count
print("Number of rows with the condition:", count_with_condition)

In [ ]:
NotHL_ethn.limit(5).toPandas()
NotHL_ethn.count()

In [ ]:
NotHL_ethn1=NotHL_ethn.drop('ethn_id')

In [ ]:
filter_NotHL = NotHL_ethn1.filter(col("NotHL") == 1)

filter_NotHL

distinct_NotHL=filter_NotHL.dropDuplicates(['personid'])

distinct_NotHL.count()

In [ ]:
combined_NotHL=NotHL_race1.union(NotHL_ethn1)
NotHL_distinct=combined_NotHL.dropDuplicates()
NotHL_distinct.count()

### Asian or Pacific Islander Ethnicity

In [ ]:
API_ethn_race = Race_pull.withColumn(
    "API_ethn",
    when(col("race_id").isin(API_ethn), 1).otherwise(0))

condition_column = 'API_ethn'

# Count the number of patients with the condition (where the column value is 1)

filtered_API_ethn = API_ethn_race.filter(col(condition_column) == 1)

count_with_condition = filtered_API_ethn.count()

# Show the count
print("Number of rows with the condition:", count_with_condition)

In [ ]:
API_ethn_ethn = Eth_pull.withColumn(
    "API_ethn",
    when(col("ethn_id").isin(API_ethn), 1).otherwise(0))

condition_column = 'API_ethn'

# Count the number of patients with the condition (where the column value is 1)

filtered_API_ethn2 = API_ethn_ethn.filter(col(condition_column) == 1)

count_with_condition = filtered_API_ethn2.count()

# Show the count
print("Number of rows with the condition:", count_with_condition)

##Note-yielded 0 results

In [ ]:
API_ethn_race1=API_ethn_race.drop('race_id')

In [ ]:
filter_API_ethn = API_ethn_race1.filter(col("API_ethn") == 1)

filter_API_ethn

distinct_API_ethn=filter_API_ethn.dropDuplicates(['personid'])

distinct_API_ethn.count()

### Mixed Race

In [ ]:
Mixed_race = Race_pull.withColumn(
    "Mixed",
    when(col("race_id").isin(Mixed), 1).otherwise(0))

condition_column = 'Mixed'

# Count the number of patients with the condition (where the column value is 1)

filtered_Mixed = Mixed_race.filter(col(condition_column) == 1)

count_with_condition = filtered_Mixed.count()

# Show the count
print("Number of rows with the condition:", count_with_condition)

In [ ]:
Mixed_ethn = Eth_pull.withColumn(
    "Mixed",
    when(col("ethn_id").isin(Mixed), 1).otherwise(0))

condition_column = 'Mixed'

# Count the number of patients with the condition (where the column value is 1)

filtered_Mixed2 = Mixed_ethn.filter(col(condition_column) == 1)

count_with_condition = filtered_Mixed2.count()

# Show the count
print("Number of rows with the condition:", count_with_condition)

### Note- yielded 0 results

In [ ]:
Mixed_race1=Mixed_race.drop('race_id')

In [ ]:
filter_Mixed = Mixed_race1.filter(col("Mixed") == 1)

filter_Mixed

distinct_Mixed=filter_Mixed.dropDuplicates(['personid'])

distinct_Mixed.count()

### Unknown Race Classification

In [ ]:
Unknown_race = Race_pull.withColumn(
    "Unknown",
    when(col("race_id").isin(Unknown), 1).otherwise(0))

condition_column = 'Unknown'

# Count the number of patients with the condition (where the column value is 1)

filtered_Unknown = Unknown_race.filter(col(condition_column) == 1)

count_with_condition = filtered_Unknown.count()

# Show the count
print("Number of rows with the condition:", count_with_condition)

In [ ]:
Unknown_ethn = Eth_pull.withColumn(
    "Unknown",
    when(col("ethn_id").isin(Unknown), 1).otherwise(0))

condition_column = 'Unknown'

# Count the number of patients with the condition (where the column value is 1)

filtered_Unknown2 = Unknown_ethn.filter(col(condition_column) == 1)

count_with_condition = filtered_Unknown2.count()

# Show the count
print("Number of rows with the condition:", count_with_condition)

In [ ]:
Unknown_race.limit(5).toPandas()
Unknown_race.count()

In [ ]:
Unknown_ethn.limit(5).toPandas()
Unknown_ethn.count()

In [ ]:
Unknown_ethn1=Unknown_ethn.drop('ethn_id')
Unknown_race1=Unknown_race.drop('race_id')

In [ ]:
combined_Unknown=Unknown_race1.union(Unknown_ethn1)
Unknown_distinct=combined_Unknown.dropDuplicates()
Unknown_distinct.count()

In [ ]:
filter_Unknown = combined_Unknown.filter(col("Unknown") == 1)

filter_Unknown

distinct_Unknown=filter_Unknown.dropDuplicates(['personid'])

distinct_Unknown.count()

# Combining Data

In [ ]:
spark.sql("use CUA_db")

In [ ]:
pid = spark.sql("""
    select personid
    from personid_table
    """)
pid.cache()

In [ ]:
demo_AINA= pid.join(distinct_AINA, 'personid', 'left')

column_name = 'AIAN'

# Replace "NaN" values with zeros in the specified column
Binary_AINA = demo_AINA.fillna({column_name: 0})
Binary_AINA1=Binary_AINA.dropDuplicates()

Binary_AINA1.select('personid').count()

In [ ]:
Binary_AINA1.limit(5).toPandas()

In [ ]:
demo_NHPI= Binary_AINA1.join(distinct_NHPI, 'personid', 'left')

column_name = 'NHPI'

# Replace "NaN" values with zeros in the specified column
Binary_NHPI = demo_NHPI.fillna({column_name: 0})
Binary_NHPI1=Binary_NHPI.dropDuplicates()

Binary_NHPI1.select('personid').count()

In [ ]:
demo_Asian= Binary_NHPI1.join(distinct_Asian, 'personid', 'left')

column_name = 'Asian'

# Replace "NaN" values with zeros in the specified column
Binary_Asian = demo_Asian.fillna({column_name: 0})
Binary_Asian1=Binary_Asian.dropDuplicates()

Binary_Asian1.select('personid').count()

In [ ]:
demo_Black= Binary_Asian1.join(distinct_Black, 'personid', 'left')

column_name = 'Black'

# Replace "NaN" values with zeros in the specified column
Binary_Black = demo_Black.fillna({column_name: 0})
Binary_Black1=Binary_Black.dropDuplicates()

Binary_Black1.select('personid').count()

In [ ]:
demo_White= Binary_Black1.join(distinct_White, 'personid', 'left')

column_name = 'White'

# Replace "NaN" values with zeros in the specified column
Binary_White = demo_White.fillna({column_name: 0})
Binary_White1=Binary_White.dropDuplicates()

Binary_White1.select('personid').count()

In [ ]:
demo_MENA= Binary_White1.join(distinct_MENA, 'personid', 'left')

column_name = 'MENA'

# Replace "NaN" values with zeros in the specified column
Binary_MENA = demo_MENA.fillna({column_name: 0})
Binary_MENA1=Binary_MENA.dropDuplicates()

Binary_MENA1.select('personid').count()

In [ ]:
demo_HL= Binary_MENA1.join(distinct_Hisp_Latino, 'personid', 'left')

column_name = 'Hisp_Latino'

# Replace "NaN" values with zeros in the specified column
Binary_HL = demo_HL.fillna({column_name: 0})
Binary_HL1=Binary_HL.dropDuplicates()

Binary_HL1.select('personid').count()

In [ ]:
demo_Other= Binary_HL1.join(distinct_Other, 'personid', 'left')

column_name = 'Other'

# Replace "NaN" values with zeros in the specified column
Binary_Other = demo_Other.fillna({column_name: 0})
Binary_Other1=Binary_Other.dropDuplicates()

Binary_Other1.select('personid').count()

In [ ]:
demo_NotHL= Binary_Other1.join(distinct_NotHL, 'personid', 'left')

column_name = 'NotHL'

# Replace "NaN" values with zeros in the specified column
Binary_NotHL = demo_NotHL.fillna({column_name: 0})
Binary_NotHL1=Binary_NotHL.dropDuplicates()

Binary_NotHL1.select('personid').count()

In [ ]:
demo_API= Binary_Other1.join(distinct_API_ethn, 'personid', 'left')

column_name = 'API_ethn'

# Replace "NaN" values with zeros in the specified column
Binary_API = demo_API.fillna({column_name: 0})
Binary_API1=Binary_API.dropDuplicates()

Binary_API1.select('personid').count()

In [ ]:
demo_Mixed= Binary_API1.join(distinct_Mixed, 'personid', 'left')

column_name = 'Mixed'

# Replace "NaN" values with zeros in the specified column
Binary_Mixed = demo_Mixed.fillna({column_name: 0})
Binary_Mixed1=Binary_Mixed.dropDuplicates()

Binary_Mixed1.select('personid').count()

In [ ]:
demo_Unknown= Binary_Mixed1.join(distinct_Unknown, 'personid', 'left')

column_name = 'Unknown'

# Replace "NaN" values with zeros in the specified column
Binary_Unknown = demo_Unknown.fillna({column_name: 0})
Binary_Unknown1=Binary_Unknown.dropDuplicates()

Binary_Unknown1.select('personid').count()

In [ ]:
Binary_Unknown1.limit(5).toPandas()

In [ ]:
#Binary_Unknown1.write.saveAsTable('non_CUA_db.race_matrix')

In [ ]:
demo_urban= Binary_unknown1.join(distinct_urban, 'personid', 'left')

column_name = 'urbn'

# Replace "NaN" values with zeros in the specified column
Binary_Urban = demo_urban.fillna({column_name: 0})
Binary_Urban1=Binary_Urban.dropDuplicates()

Binary_Urban1.select('personid').count()

In [ ]:
demo_rural= Binary_Urban1.join(distinct_rural, 'personid', 'left')

column_name = 'rural'

# Replace "NaN" values with zeros in the specified column
Binary_rural = demo_rural.fillna({column_name: 0})
Binary_rural1=Binary_rural.dropDuplicates()

Binary_rural1.select('personid').count()

In [ ]:
demo_Metropol= Binary_rural1.join(distinct_Metro, 'personid', 'left')

column_name = 'Metropol'

# Replace "NaN" values with zeros in the specified column
Binary_Metropol = demo_Metropol.fillna({column_name: 0})
Binary_Metropol1=Binary_Metropol.dropDuplicates()

Binary_Metropol1.select('personid').count()

In [ ]:
demo_Non_Metro= Binary_Metropol1.join(distinct_Non_metro, 'personid', 'left')

column_name = 'Non_Metro'

# Replace "NaN" values with zeros in the specified column
Binary_Non_Metro = demo_Non_Metro.fillna({column_name: 0})
Binary_Non_Metro1=Binary_Non_Metro.dropDuplicates()

Binary_Non_Metro1.select('personid').count()

In [ ]:
demo_ungeo= Binary_Non_Metro1.join(clean_ungeo, 'personid', 'left')

column_name = 'no_urban'

# Replace "NaN" values with zeros in the specified column
Binary_ungeo = demo_ungeo.fillna({column_name: 0})
Binary_ungeo1=Binary_ungeo.dropDuplicates()

Binary_ungeo1.select('personid').count()

In [ ]:
demo_unmetro= Binary_ungeo1.join(clean_unmetro, 'personid', 'left')

column_name = 'no_metro'

# Replace "NaN" values with zeros in the specified column
Binary_unmetro = demo_unmetro.fillna({column_name: 0})
Binary_unmetro1=Binary_unmetro.dropDuplicates()

Binary_unmetro1.select('personid').count()

In [ ]:
Binary_unmetro1.show()

In [ ]:
Binary_unmetro_geo1.write.saveAsTable('CUA_db.geo_race_matrix')